<%= simple_form_for(@event, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :what, input_html: {id: "formWant"}%>
    <%= f.input :when %>
    <%= f.input :where %>
    <%= f.input :needed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
